[MASTER]
ignore=__pycache__

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods,
    duplicate-code,
    broad-exception-caught

[FORMAT]
max-line-length=88

[TYPECHECK]
ignored-modules=
    mongomock
